{% extends "/template/auth.twig" %}
{% block title %}Sign In{% endblock %}
{% block body_content %}

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Sign In!</h1>
                                </div>
                                <form class="user" action="{{ path_for('auth.signin') }}"  method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user {{ errors.email ? 'is-invalid' : ''}}" id="email" name="email"  aria-describedby="emailHelp" placeholder="Email Address" value="{{ old.email }}">
                                        {% if errors.email %}
                                            <small id="emailHelp" class="form-text text-muted text-success">
                                                {{ errors.email | first }}
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user {{ errors.password ? 'is-invalid' : ''}}"  placeholder="Password" id="password" name="password" aria-describedby="passwordHelp">
                                        {% if errors.password %}
                                            <small id="passwordHelp" class="form-text text-muted text-success">
                                                {{ errors.password | first }}
                                            </small>
                                        {% endif %}
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                        Login
                                    </button>
                                    {{ csrf.field | raw }}

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{base_url}}/password/forgot">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    {% include '/template/partials/flash.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}